@model DoAn_21806064393.Models.User

@{
    ViewBag.Title = "registern";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>registern</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="thumbnail">
            <div class="form-horizontal">
                <h4 class="text-center">ĐĂNG KÝ</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.username, "Tên tài khoản", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control", placeholder = "Tên tài khoản" } })
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.password, "Mật khẩu", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-12">
                        @Html.PasswordFor(model => model.password, new { @class = "form-control", placeholder = "Mật khẩu" })
                        @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ConfirmPassword, "Xác nhận mật khẩu", htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-12">
                        @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", placeholder = "Xác nhận mật khẩu" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.gmail, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.gmail, new { htmlAttributes = new { @class = "form-control", placeholder = "Gmail" } })
                        @Html.ValidationMessageFor(model => model.gmail, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-12">
                        <input type="submit" value="Đăng Ký" class="btn btn-danger" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .form-group {
        padding: 10px;
    }

    .thumbnail {
        background-color: white;
        margin-top: 20px;
    }

        .thumbnail h4 {
            text-align: center;
            font-weight: bold;
            padding-top: 10px;
        }

        .thumbnail .form-group label {
            margin-right: 10px; /* Khoảng cách giữa nhãn và trường nhập liệu */
        }

        .thumbnail .form-group input[type="submit"] {
            width: 100%;
        }

    /* Giảm kích thước thumbnail xuống 1/3 so với màn hình lớn */

    }
    }
</style>

       
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
