@model IEnumerable<DoAn_21806064393.Models.acc>

@{
    ViewBag.Title = "Danh sách tài khoản";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="color: black; font-weight: bold;">Danh sách tài khoản</h2>

<p>
    @Html.ActionLink("Thêm mới", "CreateList", null, new { @class = "btn btn-primary" })
</p>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Tài khoản</th>
                <th>Mật khẩu</th>
                <th>Số mẫu mặt</th>
                <th>Số tướng</th>
                <th>Số skin</th>
                <th>Giá</th>
                <th>Hành động</th>
            </tr>
        </thead>
        <tbody>
            @if (TempData["SuccessThemAcc"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessThemAcc"]
                </div>
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.account</td>
                    <td>@item.password</td>
                    <td>@item.so_mau_mat</td>
                    <td>@item.so_tuong</td>
                    <td>@item.so_skin</td>
                    <td>@item.gia</td>
                    <td style="display:flex;">
                        @Html.ActionLink("Chỉnh sửa", "EditList", new { id = item.id_acc }, new { @class = "btn btn-primary btn-sm" })
                        <form id="deleteForm_@item.id_acc" action="@Url.Action("DeleteList", "Admin", new { id = item.id_acc })" method="post">
                            @Html.AntiForgeryToken()
                            <button type="button" class="btn btn-danger btn-sm" onclick="confirmDelete('@item.id_acc')">Xóa</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function confirmDelete(id) {
        if (confirm("Bạn Có Thật Sự Muốn Xóa Không?")) {
            document.getElementById("deleteForm_" + id).submit();
        }
    }
</script>
